*{
    font-family: Garamond;
    color: white;

}

header{
    background-color: Indigo;
    text-align: center;
    padding: 2px;
}

.left, .right{
    background-color: Indigo;
    height: 600px;
    width: 20%;
}

.middle{
    background-color: black;
    height: 600px;
    overflow: scroll;
    width: 60%;
}
main{
    display: flex;
}
@media all and (width <= 800px) {
    main{
        flex-direction: column;
    }
    .left, .right, .middle{
        width: 100%;
    }
}
footer{
    background-color: indigo;
    height: 150px;
}
/* oznaczenie liczby punktów */
.points{
    background-color: tomato;
    border-radius: 50%;
    padding: 5px;
}
li{
    padding: 5px;
}
/* bloki gier sekcji środkowej */
.games{
    float: left;
    text-align: center;
    padding: 3px;
}
input{
    margin: 10px;
    color: indigo;
}