*{
    text-align: center;
    font-family: Georgia;
}
header, footer{
    background-color: Tomato;
    color: mistyrose;
    padding: 10px;
}
nav{
    width: 20%;
}
nav div{
    background-color: #FFAEA5;
    height: 170px;
    font-size: 200%;
}
div.first{
    background-color: MistyRose;
}
main{
    background-color: mistyrose;
    width: 80%;
    height: 510px;
    overflow: auto;
}
section.second, section.third{
    display: none;
}
table{
    margin: auto;
    width: 60%;
    border: 1px dotted indigo;
}
select, button{
    margin: 20px;
}
dt{
    font-weight: bold;
    font-style: italic;
}
dt:hover{
    font-size: 180%;
}