*{
    font-family: 'Trebuchet MS', sens-serif;
}
aside{
    background-color: #C5CAE9;
    width: 40%;
    height: 600px;
    overflow: auto;
    float: left;
}
.first, .second{
    width: 60%;
    height: 300px;
}
.first{
    background-color: #9FA8DA;
    float: right;
}
.second{
    background-color: #7986CB;
    float: right;
}
footer{
    background-color: #283593;
    color: white;
    padding: 20px;
    clear: both;
}
.opona{
    background-color: #9FA8DA;
    margin: 40px;
    border: 2px dotted #283593;
    border-radius: 30px;
}
img{
   float: left; 
   margin: 20px;
}
h2{
    text-align: center;
    margin: 0px;
    padding: 15px;
}
h3{
    background-color: #7986CB;
    color: white;
    font-size: 140%;
}